* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: inter;
}

#main {
  color: #303249;
  width: 100%;
}

.children {
  background-color: #FEF3DF;
  height: 100vh;
  width: 100%;
}

.content1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerBox1 {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  /* background-color: red; */
}

.paragraph1 {
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.6;
  padding-top: 5rem;
}

.img_boni {
  max-width: 70%;
  margin-top: 3rem;
  /* padding-top: 3rem; */
  border-radius: 5px;
}

.paragraph2 {
  padding-top: 1rem;
  line-height: 1.5;
}

.perform-better {
  text-decoration: underline;
  text-decoration-color: #DECAA5;
}

.button1 {
  margin-top: 2rem;
  border: none;
  background-color: #303249;
  color: white;
  padding: 1rem 1rem;
  cursor: pointer;
  display: flex;
  align-self: flex-start;
}

.content2 {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color: red; */
}

.i_work {
  /* padding-top: 5rem; */
  font-size: 1rem;
  font-weight: bolder;
  word-spacing: 2px;
}

.all-logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.logo1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo1 img {
  max-width: 50px;
  width: 100%;
  height: auto;
  display: block;
}

.logo2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo2 img {
  max-width: 50px;
  width: 100%;
  height: auto;
  display: block;
}

.content3 {
  width: 100%;
  height: 110vh;
  background-color: #E6EBE4;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerBox3 {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* background-color: rebeccapurple; */
}

.photo {
  display: flex;
  justify-content: center;
}

.img_boni2 {
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 10px;
  background-color: red;
}

.main_Text {
  padding-top: 3rem;
}

.child_Text {
  width: 100%;
  font-size: small;
}

.name_Boni {
  font-weight: bold;
  font-size: larger;
}

.content4 {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  /* background-color: red; */
  height: 170vh;
  width: 100%;
}

.containerChildBox4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* height: 100%; */
  gap: 2rem;
  /* background-color: blue; */
}

.containerBox4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}


.name_Card {
  font-weight: bold;
  font-size: large;
  /* padding-top: 4rem; */
}

.containerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0rem 2rem;
  width: 100%;
  max-width: 1200px;
  /* border: magenta 2px solid; */
}

.box1,
.box2,
.box3 {
  background-color: #FEF3DF;
  padding: 2rem 2rem;
  /* border: 2px red solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  /* Atau max-width: 500px; */
  max-width: 600px;
  /* Tambah ini - batasi lebar box */
}

.icon {
  font-size: 30px;
}

.box1 button,
.box2 button,
.box3 button {
  font-weight: bold;
  cursor: pointer;
  border: 2px #C8CDC5 solid;
  background-color: transparent;
  padding: 1rem 2rem;
  width: 100%;

}

.box button:hover {
  background-color: #333;
  color: white;
  border-color: #333;
}

.box2 {
  background-color: #E6EBE4;
}

.box3 {
  background-color: #E1F1F1;
}


.childrenBox1 {
  /* border: 2px blue solid; */
  width: 100%;
  /* Ikuti lebar parent */
  word-wrap: break-word;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.judul {
  font-weight: bold;
}

.content5 {
  /* background-color: #E1F1F1; sementara */
  background-color: aqua;
  width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerBox5 {
  width: 90%;
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
  flex-direction: column;
  word-break: break-word;
  overflow-wrap: break-word;
}

.containerText {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.workWith {
  color: #ABBBBC;
  font-weight: bold;
}

.iGet {
  font-weight: bold;
}

.letsTalk {
  font-size: small;
}

.getTouch {
  background-color: #2F314B;
  border: none;
  color: white;
  padding: 0.7rem 1rem;
  margin-top: 20px;
  cursor: pointer;
  width: 40%;
  display: flex;
  align-self: flex-start;
  justify-content: center;
}


.imgBoni3 {
  margin-top: 40px;
  max-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.content6 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.containerBox6 {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  gap: 1rem;
}

.whatPeople {
  padding-top: 10rem;
}

.containerBox6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxName1 {
  border: 2px blue solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
}

.borderProfile {
  overflow: hidden;
}

.imgProfile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 490px) {
  .children {
    background-color: red;
  }

  .img_boni {
    max-width: 55%;
  }



  .content3 {
    height: 120vh;
  }

  .content5 {
    background-color: red;
  }

  .imgBoni3 {
    max-width: 50%;
  }

  .whatPeople {
    padding-top: 15rem;
  }
}

@media (min-width: 640px) {
  .children {
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
  }

  .img_boni {
    max-width: 45%;
    margin-top: 4rem;
  }

  .content3 {
    height: 135vh;
  }

  .content5 {
    background-color: chartreuse;
  }

  .imgBoni3 {
    max-width: 40%;
  }

  .whatPeople {
    padding-top: 13rem;
  }


}

@media (min-width: 768px) {
  .children {
    background-color: burlywood;
    height: 100vh;
    width: 100%;
  }

  .img_boni {
    max-width: 35%;
  }


  .content3 {
    height: 160vh;
  }

  .content5 {
    background-color: darkblue;
  }

  .whatPeople {
    padding-top: 42rem;
  }

}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
    padding: 2rem;
  }


  /* content1 */
  .content1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .children {
    background-color: #FEF3DF;
  }

  .containerBox1 {
    display: flex;
    flex-direction: row;
    width: 90%;
    /* background-color: red; */
  }

  .img_boni {
    margin-top: 10rem;
    /* margin-right: 12rem; */
    max-width: 25%;
    margin-top: 20rem;
    border-radius: 5px;
  }

  .paragraph1 {
    font-size: 3rem;
  }

  .wrap1 {
    margin-left: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  /* content2 */
  .i_work {
    padding-top: 3rem;
  }

  .all-logo {
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 30px;
  }

  .logo1 {
    flex-direction: row;
  }

  .logo2 {
    flex-direction: row;
  }

  /* content3 */
  .content3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    /* padding-left: 8px; */
    width: 100%;
  }

  .containerBox3 {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 0;
  }

  .photo {
    flex: 1;
    width: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .img_boni2 {
    width: 90%;
    margin-top: 1.5rem;
    border-radius: 10px;
    background-color: red;
  }

  .main_Text {
    flex: 1;
    display: flex;
    align-items: center;
  }

  .name_Boni {
    font-weight: bold;
    font-size: xx-large;
  }

  .child_Text {
    font-size: medium;
    line-height: 30px;
  }

  /* content4 */

  .content4 {
    height: 100vh;
    width: 100%;
  }

  .containerChildBox4 {
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 90%;
    max-width: 1200px;
    /* height: 70%; */
    /* border: magenta 2px solid; */
  }



  .box1,
  .box2,
  .box3 {
    background-color: #FEF3DF;
    padding: 6rem 1rem;
    /* border: 2px red solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    width: 90%;
    /* Atau max-width: 500px; */
    max-width: 600px;
    /* Tambah ini - batasi lebar box */
  }

  .box2 {
    background-color: #E6EBE4;
  }

  .box3 {
    background-color: #E1F1F1;
  }

  /* content5 */
  .content5 {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 75vh;
    width: 100%;
  }

  .containerBox5 {
    display: flex;
    flex-direction: row;
    /* justify-content:space-between; */
    align-items: center;
    width: 90%;
    /* background-color: red; */
    gap: 2rem;
  }

  .containerText {
    flex: 1;
  }

  .imgBoni3 {
    overflow: hidden;
    margin-top: 5rem;
    max-width: 25%;
    border-radius: 5px;
    background-color: red;
  }

  .iGet {
    font-size: 30px;
  }

  .whatPeople {
    padding-top: 5rem;
  }
}

@media (min-width:1280) {}